# Initialization

In [1]:
import pandas as pd
from sqlalchemy import create_engine

def update_df():
    DATABASE = 'mysql+pymysql://neeko:rosebud@localhost/advertisemement'
    engine = create_engine(DATABASE)
    connection = engine.connect()
    df = []
    with connection as con:
        query = """SELECT posts.id, posts.username, posts.engagement, codes.* FROM posts INNER JOIN codes ON posts.id = codes.post_id;"""
        df = pd.read_sql_query(query, con)
    connection.close()
    return df

In [2]:
df = update_df()
df.head()

,id,username,engagement,id,user_id,post_id,number_of_memes,type_of_memes,type_of_movement,type_of_emotions,type_of_subject
0,13178,lazada_id,0.000044,3,1,13178,0,0,6,2,1
1,12531,tokopedia,0.000412,4,1,12531,0,0,2,1,1
2,4184,tokopedia,0.000365,5,1,4184,0,0,7,1,1
3,4140,tokopedia,0.001389,6,1,4140,0,0,6,2,1
4,5054,gojekindonesia,0.003030,7,1,5054,1,3,2,2,1

In [3]:
types_mapping = {
    0: 'None',
    1: 'Textual',
    2: 'Visual',
    3: 'Auditory',
    4: 'Text and Visual',
    5: 'Visual and Auditory',
    6: 'Text and Auditory',
    7: 'Text, Visual, and Auditory'
}

movement_mapping = {
    1: 'None',
    2: 'Physical',
    3: 'Causal',
    4: 'Emotional',
    5: 'Physical and Causal',
    6: 'Physical and Emotional',
    7: 'Physical, Causal, and Emotional'
}

subjects_mapping = {
    1: 'Character',
    2: 'Object',
    3: 'Creature',
    4: 'Scene'
}

type_of_emotions_mapping = {
    1: 'Positive',
    2: 'Neutral',
    3: 'Negative'
}

df['type_of_memes'] = df['type_of_memes'].map(types_mapping)
df['type_of_emotions'] = df['type_of_emotions'].map(type_of_emotions_mapping)
df['type_of_subject'] = df['type_of_subject'].map(subjects_mapping)
df['type_of_movement'] = df['type_of_movement'].map(movement_mapping)

print("\nTransformed Data Head:\n", df.head())

Transformed Data Head:
       id        username  engagement  id  user_id  post_id  number_of_memes  \
0  13178       lazada_id    0.000044   3        1    13178                0
1  12531       tokopedia    0.000412   4        1    12531                0
2   4184       tokopedia    0.000365   5        1     4184                0
3   4140       tokopedia    0.001389   6        1     4140                0
4   5054  gojekindonesia    0.003030   7        1     5054                1

  type_of_memes                 type_of_movement type_of_emotions  \
0          None           Physical and Emotional          Neutral
1          None                         Physical         Positive
2          None  Physical, Causal, and Emotional         Positive
3          None           Physical and Emotional          Neutral
4      Auditory                         Physical          Neutral

  type_of_subject
0       Character
1       Character
2       Character
3       Character
4       Character

In [4]:
y = df['engagement']
x = df[['number_of_memes', 'type_of_memes', 'type_of_emotions', 'type_of_subject', 'type_of_movement']]

y

0      0.000044
1      0.000412
2      0.000365
3      0.001389
4      0.003030
         ...
241    0.000170
242    0.000126
243    0.000126
244    0.000774
245    0.007274
Name: engagement, Length: 246, dtype: float64

In [5]:
x

,number_of_memes,type_of_memes,type_of_emotions,type_of_subject,type_of_movement
0,0,None,Neutral,Character,Physical and Emotional
1,0,None,Positive,Character,Physical
2,0,None,Positive,Character,"Physical, Causal, and Emotional"
3,0,None,Neutral,Character,Physical and Emotional
4,1,Auditory,Neutral,Character,Physical
...,...,...,...,...,...
241,1,Auditory,Neutral,Object,Physical
242,1,Visual and Auditory,Positive,Character,Physical and Emotional
243,1,Visual and Auditory,Positive,Character,Physical and Emotional
244,0,None,Positive,Character,Physical
245,2,Visual and Auditory,Neutral,Character,Physical and Emotional

In [6]:
# Export
train = pd.concat([x, y], axis=1)
username_only = df['username']

train.to_csv('train.csv')
username_only.to_csv('usernames.csv')

# Descriptives

In [8]:
df = update_df()
counts = df['username'].value_counts()
print(counts)
counts.plot(kind='barh')

username
tokopedia         83
shopee_id         60
lazada_id         54
gojekindonesia    26
grabid            23
Name: count, dtype: int64